.custom-table {
  &__header-actions {
    width: 10%;
    min-width: 160px;
    @include touch {
      width: auto;
      min-width: 110px;
    }
  }
  &__header-selection {
    width: 2%;
    min-width: 40px;
  }
}

.container {
  &.is-padded-mobile {
    @include touch {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}